jollytouch/[Ll]ibrary/
jollytouch/[Tt]emp/
jollytouch/[Oo]bj/
jollytouch/[Bb]uild/

*.cs*.
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.dll
*.dll.mdb

*.meta

sysinfo.txt
